h1 {
  margin-left: 20px;
  line-height: 50px;
  width: 80%;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 1rem;
}
