.table-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 5px;
  height: 40px;
}

button {
  color: #2d566d;
  text-decoration: none;
  border-style: none;
  cursor: pointer;
  border-radius: 50px;
}

.button:active {
  color: red;
}
